.App {
  text-align: center;
}

header {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #282c34;
    width: 100%;
    z-index: 10;
    top: 0;
    margin-bottom: 60px;
}

header .logo h1 {
  font-size: 40px;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
  display: inline-block;
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: cyan;
}

hr {
  width: 90%;
}