.App {
  text-align: center;
}

header {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #282c34;
    width: 100%;
    z-index: 10;
    top: 0;
    margin-bottom: 60px;
}

header .logo h1 {
  font-size: 40px;
}

header .logo {
  height: 110px;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
  display: inline-block;
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: cyan;
}

.select {
  display: inline-block;
  padding: 5px 15px;
  background-color: rgb(68, 70, 71);
  border: none;
  border-radius: 5px;
}

hr {
  width: 90%;
}

.article-search {
  font-size: 30px;
  margin-bottom: 20px;
}

.article {
  width: 800px;
  margin:0 auto;
  text-align: left;
  padding-bottom: 100px;
}

@media (min-width: 500px) {
  .article-content {
    height: 240px;
  }
  .article-title {
    font-size: 24px;
  }
  .article-postContent {
    background-color: rgb(252, 248, 242);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    min-width: 250px;
  }
}

@media (min-width: 1280px) {
  .article-content {
    height: 100px;
  }
  .article-title {
    font-size: 40px;
    margin: 10px;
  }
  .article-postContent {
    background-color: rgb(252, 248, 242);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}